<div class="mobile-menu-container" [hidden]="!isActive()">
	<div class="mobile-menu-inner">
		<a [href]="links.main" title="Go to the main JP Enterprises site"><div class="logo navbar-logo"></div></a>
		<button md-icon-button class="mobile-menu-close" (click)="closeMenu()" (touchend)="closeMenu()">
			<md-icon>close</md-icon>
		</button>
		<div class="menu-links">
			<h2 class="mobile-menu-title">Navigation</h2>
			<ng-content select="[jpMobileMenuItem]"></ng-content>
			<a md-button [routerLink]="['/work']" title="Work" (click)="closeMenu()">Work</a>
			<a md-button [routerLink]="['/blog']" title="Blog" (click)="closeMenu()">Blog</a>
			<a md-button [routerLink]="['/contact']" title="Contact" (click)="closeMenu()">Contact</a>
		</div>
		<div class="menu-links expertise">
			<h2 class="mobile-menu-title">Expertise</h2>
			<jp-icon-button class="blue mdm colored horizontal" [href]="links.mdm">
				<jp-icon></jp-icon>
				<jp-icon-button-text>MDM</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="blue publishing colored horizontal" [href]="links.publishing">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Publishing</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="yellow creative colored horizontal" [href]="links.creative" svg="Creative">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Creative</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="fuchsia interactive colored horizontal" [href]="links.interactive" svg="Interactive">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Interactive</jp-icon-button-text>
			</jp-icon-button>
		</div>
		<div layout="column" class="menu-links social-links">
			<h2 class="mobile-menu-title">Social Media</h2>
			<jp-social-icons layout="vertical"></jp-social-icons>
		</div>
	</div>
</div>