@import 'sass-material-colors/sass/sass-material-colors';

$nav_height: 75px;
$desktop-min-width: 992px;
$mobile-max-width: 991px;
$container-large-desktop: 1170px;

/**
 * Palette
 */
$white: #fff;
$black: #000;
$blackish: #111;
$dark_blue: #0262C2;
$white_trans: rgba(255,255,255,0.98);
$almost_black: #212121;
$black_translucent: rgba(0,0,0,0.87);
$blue: rgb(51, 122, 183);
$blue2: #0072bc;
$blue_translucent: rgba(51, 122, 183, 0.65);
$blue_very_translucent: rgba(51, 122, 183, 0.15);
$yellow: rgb(254, 221, 0);
$yellow_translucent: rgba(254, 221, 0, 0.65);
$fuchsia: rgb(235, 0, 140);
$fuchsia_translucent: rgba(235, 0, 140, 0.65);

$black_14: rgba(0,0,0,0.14);
$black_20: rgba(0,0,0,0.20);
$black_26: rgba(0,0,0,0.26);
$black_54: rgba(0,0,0,0.54);
$black_88: rgba(0,0,0,0.8705);

$grey_50: material-color('grey', '50');
$grey_100: material-color('grey', '100');
$grey_200: material-color('grey', '200');
$grey_300: material-color('grey', '300');
$grey_400: material-color('grey', '400');
$grey_500: material-color('grey', '500');
$grey_600: material-color('grey', '600');
$grey_700: material-color('grey', '700');
$grey_800: material-color('grey', '800');
$grey_900: material-color('grey', '900');
$grey_translucent: rgba(200,200,200,0.12);

$brown_50: material-color('brown', '50');
$brown_100: material-color('brown', '100');
$brown_200: material-color('brown', '200');
$brown_300: material-color('brown', '300');
$brown_400: material-color('brown', '400');
$brown_500: material-color('brown', '500');
$brown_600: material-color('brown', '600');
$brown_700: material-color('brown', '700');
$brown_800: material-color('brown', '800');
$brown_900: material-color('brown', '900');

$blue_50: material-color('blue', '50');
$blue_100: material-color('blue', '100');
$blue_200: material-color('blue', '200');
$blue_300: material-color('blue', '300');
$blue_400: material-color('blue', '400');
$blue_500: material-color('blue', '500');
$blue_600: material-color('blue', '600');
$blue_700: material-color('blue', '700');
$blue_800: material-color('blue', '800');
$blue_900: material-color('blue', '900');

$green_50: material-color('green', '50');
$green_100: material-color('green', '100');
$green_200: material-color('green', '200');
$green_300: material-color('green', '300');
$green_400: material-color('green', '400');
$green_500: material-color('green', '500');
$green_600: material-color('green', '600');
$green_700: material-color('green', '700');
$green_800: material-color('green', '800');
$green_900: material-color('green', '900');

$light-green-50: material-color('light-green', '50');
$light-green-100: material-color('light-green', '100');
$light-green-200: material-color('light-green', '200');
$light-green-300: material-color('light-green', '300');
$light-green-400: material-color('light-green', '400');
$light-green-500: material-color('light-green', '500');
$light-green-600: material-color('light-green', '600');
$light-green-700: material-color('light-green', '700');
$light-green-800: material-color('light-green', '800');
$light-green-900: material-color('light-green', '900');

$red_500: material-color('red', '500');
$red_900: material-color('red', '900');
$yellow_500: material-color('yellow', '500');
$bluegrey_100: material-color('blue-grey', '100');
$bluegrey_600: material-color('blue-grey', '600');

$orange: material-color('orange', '500');

/**
 * Colors
 */
$primary: $bluegrey_600;
$secondary: $light-green-600;
$accent: $blue_700;
$danger: $red_500;
$warn: $yellow_500;
$background_color: $white;
$text-color: $black_translucent;
$light-grey: $grey_200;

/**
 * Fonts
 */
$font-family-lato: Lato,Helvetica,Arial,sans-serif;
$font-family-roboto: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
$proxima-nova: Proxima-Nova, serif;
$source-sans-pro: source-sans-pro, "Helvetica Neue", sans-serif;
$font-family-sans-serif: $source-sans-pro;
$paragraph-font-size: 16px;
$paragraph-font-size-mobile: 14px;

/**
 * Animations & Transitions
 */
$transition_duration: 400ms;
$transition_ease: cubic-bezier(0.25, 0.8, 0.25, 1);

/**
 * Transition mixins
 */

@mixin basic-transition {
    transition: all $transition_duration $transition_ease;
}

@mixin basic-boxshadow($depth: 3) {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;

    @if ($depth == 3) {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
}

@mixin border-radius($radius: 4px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin transition($def: all .25s ease) {
	transition: $def;
	-webkit-transition: $def;
	-moz-transition: $def;
	-o-transition: $def;
	-ms-transition: $def;
}

@mixin display-flex {
	display: flex;
}