<div class="container" id="content_overlay_top">
	<mat-toolbar class="overlay-toolbar first container" layout="row" *ngIf="title">
		<h2 class="section-title text-uppercase" [innerHTML]="title"></h2>
		<span class="filler"></span>
		<button mat-button class="mat-icon-button overlay-close-mobile" (click)="close()" (touchend)="close()">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-button class="inverted-button overlay-close" (click)="close()">
			Close Window&nbsp;&nbsp;<mat-icon class="small">close</mat-icon>
		</button>
	</mat-toolbar>
	<div class="overlay-close-notitle container" *ngIf="!title">
		<button mat-button class="mat-icon-button overlay-close-mobile" (click)="close()" (touchend)="close()">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-button class="inverted-button overlay-close" (click)="close()">
			Close Window&nbsp;&nbsp;<mat-icon class="small">close</mat-icon>
		</button>
	</div>
	<ng-content></ng-content>
	<div class="btt-wrapper">
		<button class="btt" mat-button mat-fab title="Back To Top" (click)="scrollUp()" (touchend)="scrollUp()">
			<mat-icon>keyboard_capslock</mat-icon>
		</button>
	</div>
</div>