<div class="container">
	<a [href]="links.main" title="Go to the main JP Enterprises website"><div class="navbar-logo"></div></a>
	<span class="filler"></span>
	<div class="menu-links hide-mobile">
	  <div class="menu">
	  	<ng-content select="a"></ng-content>
	    <a md-button [routerLink]="['/work']" title="Work" disableRipple="true" (click)="buttonClicked($event)">Work</a>
	    <a md-button [routerLink]="['/blog']" title="Blog" disableRipple="true" (click)="buttonClicked($event)">Blog</a>
	    <a md-button [routerLink]="['/contact']" title="Contact" disableRipple="true" (click)="buttonClicked($event)">Contact</a>
	  </div>
	</div>
	<div class="icon-menu hide-mobile">
		<jp-icon-button class="icon-menu-button mdm" [href]="links.mdm" mdTooltip="MDM" mdTooltipClass="jp-tooltip jp-tooltip-mdm">
			<jp-icon></jp-icon>
			<jp-icon-hover></jp-icon-hover>
			<jp-underline></jp-underline>
		</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button publishing blue" [href]="links.publishing" mdTooltip="Publishing" mdTooltipClass="jp-tooltip jp-tooltip-publishing">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button creative yellow" [href]="links.creative" svg="Creative" mdTooltip="Creative" mdTooltipClass="jp-tooltip jp-tooltip-creative">
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button interactive fuchsia" [href]="links.interactive" svg="Interactive" mdTooltip="Interactive" mdTooltipClass="jp-tooltip jp-tooltip-interactive">
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	</div>
	<jp-mobile-menu-trigger></jp-mobile-menu-trigger>
</div>
<md-progress-bar mode="indeterminate" [hidden]="!working"></md-progress-bar>