:host {
	display: block;
	margin-top: 24px;
	ul {
		list-style: none;
		li {
			display: block;

			jp-gplus-button {
				margin-left: auto;
			}
		}
	}

	&.horizontal {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			li {
				margin: 0 8px;
			}
		}
	}
}