<form class="jp-form" name="contactForm" layout="row" layout-wrap novalidate (ngSubmit)="submit()" [formGroup]="contactForm">
  <div class="form-group required">
    <md-input name="first_name" [formControl]="contactForm.controls.first_name" required placeholder="First Name"></md-input>
  </div>
  <div class="form-group required">
    <md-input name="last_name" [formControl]="contactForm.controls.last_name" placeholder="Last Name" required></md-input>
  </div>
  <div class="form-group required">
    <md-input name="company" required [formControl]="contactForm.controls.company" placeholder="Company Name"></md-input>
  </div>
  <div class="form-group required">
    <md-input type="email" name="email" required [formControl]="contactForm.controls.email" placeholder="Email Address"></md-input>
  </div>
  <div class="form-group">
    <md-input type="tel" name="phone" [formControl]="contactForm.controls.phone" placeholder="Phone Number"></md-input>
  </div>
  <div class="form-group">
    <md-input name="contact_time" [formControl]="contactForm.controls.contact_time" placeholder="Best time to contact you"></md-input>
  </div>
  <div class="form-group full textarea required">
     <label class="md-input-placeholder md-float md-empty">Additional Comments <span class="md-placeholder-required">*</span></label>
     <textarea jpTextareaAutoexpand md-input name="comments" required [formControl]="contactForm.controls.comments"></textarea>
  </div>
  <div class="form-actions">
    <button md-button type="submit" class="form-submit inverted-button" [disabled]="!contactForm.valid">Submit Form</button>
  </div>
</form>