:host {
	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.form-group {
			width: 49%;
	    margin: 18px 1% 18px 0;
			flex-shrink: 0;

			&:nth-child(2n) {
				margin-right: 0;
				margin-left: 1%;
			}

			&.full {
				width: 100%;
			}

			&.textarea {
				position: relative;
				label {
					position: absolute;
					bottom: 0;
					left: 20px;
					height: 18px;
			    right: auto;
			    font-weight: normal;
			    will-change: transform left top;
			    @include transition(all $transition_duration $transition_ease);
			    transform-origin: bottom left;
			    padding-left: 0!important;
			    &.md-input-placeholder.md-focused,
			    &.md-input-placeholder:not(.md-focused):not(.md-empty) {
			    	transform: translateY(-100%) scale(0.75);
			    	top: -3px;
			    	left: 0;
			    	padding-left: 0;
			    }
			    z-index: 4;
				}
				textarea {
					z-index: 5;
					width: 100%;
					background: transparent;
					color: $white_trans;
					border-color: $white;
					padding: 10px 20px;
					line-height: 23px;
					position: relative;
				}
			}

			md-input {
				width: 100%;
				.md-input-wrapper {
					margin: 0;
				}
			}
			input {
				border: 1px solid $white;
				padding: 10px 20px;
				height: 48px;
			}
			input,.md-input-placeholder {
				color: $white_trans;
				font-weight: normal;
				font-family: $source-sans-pro;
			}
			.md-input-placeholder:not(.md-focused):not(.md-float),
			.md-input-placeholder.md-float.md-empty:not(.md-focused) {
				height: 100%;
		    line-height: 48px;
		    padding-left: 20px;
		    margin: 0;
			}
			.md-input-placeholder.md-focused {
				color: $blue;
			}
			input:focus {
				border-color: $blue;
			}
			.md-input-underline {
				display: none;
			}
		}
		.form-actions {
			text-align: right;
			width: 100%;
			margin-top: 2em;
		}
		label {
			transition: all $transition_duration $transition_ease;
			overflow: hidden;
		}
	}

	md-input.ng-valid.ng-dirty {
		.md-input-placeholder.md-float {
			padding-left: 0;
			overflow: hidden;
			height: auto;
			line-height: normal;
		}
		input[required] {
		  border-left: 2px solid $green_500!important; /* green */
		}
	}

	md-input.ng-invalid.ng-dirty {
		.md-input-placeholder.md-float.md-focused {
			padding-left: 0;
			overflow: hidden;
			height: auto;
			line-height: normal;
		}
		input[required] {
		  border-left: 2px solid $fuchsia!important; /* green */
		}
	}

	input.ng-dirty + label:not(.md-focused):not(.md-float) {
		height: 100%!important;
		padding-left: 20px!important;
	}

	.error-messages {
		color: $fuchsia;
		padding-top: 1em;
	}
}