:host {
	display: block;
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 4.188em 0 calc(75px + 4.188em) 0;
	margin: 0;
	border: 0;
	background-color: $white_trans;

	-webkit-overflow-scrolling: touch;
	justify-content: center;
	align-items: center;
	@include transition(all 0.33s $transition_ease);

	&.active {
		top: 75px;
	}
	.overlay-close-mobile {
		display: none;
		width: 40px;
		height: 40px;
		padding: 10px;
		min-width: 40px;
	}
	md-content {
		overflow: visible;
	}
	.overlay-toolbar {
		width: 100%;
		font-family: $proxima-nova;
		background-color: transparent;
		margin-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
		.section-title {
			position: relative;
			top: 8px;
			text-align: left;
		}
		h2,[md-button] {
			margin: 0;
		}
		jp-icon-button {
			margin-right: 0.33em;
		}
		[md-icon] {
			color: $almost_black;
			font-size: 20px;
			position: relative;
			top: -2px;
		}
	}
	&.full-width {
		& > .container {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			md-toolbar.overlay-toolbar {
				width: $desktop-width;
				margin: 0 auto 50px;
			}
		}
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host {
		padding-top: 0!important;

		.overlay-toolbar {
		    width: 100%!important;
		    margin-bottom: 0;
		    padding-left: 15px;
		    padding-right: 15px;
		}
		.overlay-close {
		    display: none;
		}

		.overlay-close-mobile {
		    display: block;
		}

		& > .container {
		    padding-right: 15px;
		    padding-left: 15px;
		}

		.section-title {
			font-size: 32px;
		}

		#filters {
		    margin: 50px 0;
		    
		    & > h4 {
		        margin-bottom: 0.5em;
		    }

		    .filters-buttonset {
		        max-width: 100%;
		        width: 100%;
		        height: 41px;
		    }

		    h4 {
		        width: 100%;
		        text-align: center;
		    }

		    md-toolbar-row {
		        flex-direction: column;
		    }

		    jp-icon-button {
		        .icon-container {
		            display: none;
		        }

		        .title-container {
		            width: 100%;
		            text-align: center;
		        }

		        jp-icon-button-text {
		            font-size: 12px;
		            margin: 0 auto;
		            text-align: center;
		        }
		    }
		}
	}
}