:host /deep/ {
	display: block;
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 0 calc(75px + 4.188em) 0;
	margin: 0;
	border: 0;
	background-color: $white_trans;

	-webkit-overflow-scrolling: touch;
	justify-content: center;
	align-items: center;
	@include transition(all 0.33s $transition_ease);

	& > .container {
		margin-top: 2.45em;
		position: relative;
	}
	.top-row {
		justify-content: space-between;
	}

	.overlay-close-mobile {
		display: none;
		width: 40px;
		height: 40px;
		padding: 10px;
		min-width: 40px;
		.md-button-wrapper {
			md-icon {
				line-height: 13px;
				vertical-align: baseline;
				position: relative;
				left: -2px;
			}
		}
		&::after {
			border-radius: 50%!important;
		}
	}
	md-content {
		overflow: visible;
	}
	.overlay-toolbar {
		width: 100%;
		font-family: $proxima-nova;
		background-color: transparent;
		margin-bottom: 36px;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		min-height: 0px;
		.section-title {
			text-align: left;
		}
		h2,[md-button] {
			margin: 0;
		}
		jp-icon-button {
			margin-right: 0.33em;
		}
		[md-icon] {
			color: $almost_black;
			font-size: 20px;
			position: relative;
			top: -2px;
		}
	}
	.overlay-close {
		border-color: $grey_300;
		padding-left: 20px;
		padding-right: 20px;
	}
	.jp-pager.pagination {
		display: none!important;
	}
	.overlay-close-notitle {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 24px;
		padding-left: 0;
		padding-right: 0;
	}
	.btt-wrapper {
		width: 100%;
		text-align: center;
		margin: 48px 0;
		.btt {
			margin: 0 auto;
			background: $black;
			md-icon {
				color: $white;
				vertical-align: baseline;
			}
		}
	}
}

:host {
	&.active {
		top: 75px;
	}
	&.full-width {
		& > .container /deep/ {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			.overlay-toolbar {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host {
		& > .container {
		    padding-right: 15px;
		    padding-left: 15px;
		}
	}
	:host /deep/ {
		padding-top: 0!important;

		.overlay-toolbar {
		    width: 100%!important;
		    padding-left: 15px;
		    padding-right: 15px;
		}
		.overlay-close {
		    display: none;
		}

		.overlay-close-mobile {
			display: block;
		}

		.overlay-close-notitle {
			position: absolute;
			top: -3px;
			right: 0px;
			margin: 0;
		}

		.section-title {
			font-size: 32px;
		}

		#filters {
		    & > h4 {
		        margin-bottom: 0.5em;
		    }

		    .filters-buttonset {
		        max-width: 100%;
		        width: 100%;
		    }

		    h4 {
		        width: 100%;
		        text-align: center;
		    }

		    md-toolbar-row {
		        flex-direction: column;
		    }
		}
	}
}