<ul class="jp-pager pagination" [class.minimal]="pagerType == 'minimal'" [class.nav]="pagerType == 'nav'" [ngSwitch]="pagerType">
    <template [ngSwitchCase]="'minimal'">
        <li *ngFor="let i of getRange(totalPages); let index = index" 
        class="pager-index" 
        [class.active]="currentPage-1 == index" 
        [class.pager-first]="index === 0" 
        [class.pager-last]="index === getRange(totalPages).length">
            <a (click)="getResults(index+1)">{{index + 1}}</a>
        </li>
    </template>
    <template [ngSwitchCase]="'nav'">
        <li [hidden]="currentPage === 1" class="pager-prev">
            <a (click)="getResults(currentPage-1)" md-ink-ripple title="Previous">
                <span>&lsaquo; Prev</span>
                <div class="icon-container">
                    <img src="assets/images/chevron_left.png" class="icon" />
                    <img src="assets/images/chevron_left-black.png" class="icon-hover" />
                </div>
            </a>
        </li>
        <li class="pager-current">
            Page {{currentPage}} of {{totalPages}}
        </li>
        <li [hidden]="currentPage === totalPages" class="pager-next">
            <a (click)="getResults(currentPage+1)" md-ink-ripple title="Next">
                <span>Next &rsaquo;</span>
                <div class="icon-container" ng-if="pagerType == 'nav'">
                    <img src="assets/images/chevron_right.png" class="icon" />
                    <img src="assets/images/chevron_right-black.png" class="icon-hover" />
                </div>
            </a>
        </li>
    </template>
    <template ngSwitchDefault>
        <li *ngFor="let i of getRange(totalPages); let index = index" class="pager-index" [class.active]="currentPage-1 == index" [class.pager-first]="index === 0" [class.pager-last]="index === getRange(totalPages).length">
            <a (click)="getResults(index+1)">{{index + 1}}</a>
        </li>
    </template>
</ul>
<div *ngIf="includeNav || pagerType === 'nav'" class="jp-pager-nav-container">
	<div class="jp-pager-nav grid-wide">
		<button md-button [hidden]="currentPage <= 1" class="jp-pager-nav-btn jp-pager-nav-btn-prev" (click)="getResults(currentPage-1)" title="Previous Page">
			<md-icon>chevron_left</md-icon>
		</button>
		<button md-button [hidden]="currentPage === totalPages" class="jp-pager-nav-btn jp-pager-nav-btn-next" (click)="getResults(currentPage+1)" title="Next Page">
			<md-icon>chevron_right</md-icon>
		</button>
	</div>
</div>