:host {
	display: block;
	margin-top: 24px;
	ul {
		list-style: none;
		li {
			display: block;

			jp-gplus-button {
				margin-left: auto;
			}
		}
	}

	&.horizontal {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding-left: 0;
			li {
				margin: 0 6px;
				&:first-child {
					margin-left: 0;
				}
				jp-gplus-button {
					position: relative;
					top: -2px;
				}
			}
		}
	}
}