:host {
	display: none;
	opacity: 0;
	transition: .25s opacity ease;
	background: rgba(0,0,0,0.25);
	padding: 10px;
	border: 3px solid #ddd;
	width: 450px;
	height: 450px;
	position: absolute;

	-webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.33);
	box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.33);

	background-position: 0px 0px;
}

:host.transitioning {
	display: block;
}

:host.open {
	opacity: 1;
}
