:host /deep/ {
	.filters-buttonset {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		min-width: 700px;
		margin-left: 16px;
		jp-icon-button {
			width: 25%;
			height: 39px;
		}
	}
	.button-container {
		width: 100%;
		text-align: center;
	}
	#filters {
		h4 {
			padding-left: 5px;
		}
		margin-bottom: 48px;
		jp-icon-button-text {
			font-size: 14px;
		}
	}
	.overlay-toolbar {
		md-toolbar-row {
			height: auto;
		}
	}
}