:host /deep/ {
	display: block;
	.gallery-wrapper {
		padding-bottom: 2em;
	}
	.layout-sidebar {
		.right {
			text-align: right;
		}
	}
	jp-pager {
		.jp-pager-nav-container {
			width: 85%!important;
			left: 7.5%!important;
			margin-left: 0!important;
		}
	}
	.overlay-close-notitle {
		position: static!important;
		margin-bottom: 25px!important;
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host /deep/ {
		jp-pager {
		    ul.jp-pager {
		        display: none!important;
	      }
		}

		.layout-sidebar {
			.left {
				width: 100%;
				flex-basis: 100%;
				flex-direction: column;
			}
			.right {
				display: none;
			}
		}
		.section-title {
			display: flex;
			flex-direction: row;
		}
		.overlay-close-notitle {
			width: 100%;
		}
	}
}
