<jp-content-overlay class="full-width" id="project-single" layout="column" jp-infinite-scroll-container #container>
	<div class="gallery-wrapper">
		<jp-gallery *ngIf="ready && project.images" [images]="project.images"></jp-gallery>
	</div>
	<div class="container">
		<div class="layout-sidebar" *ngIf="ready">
			<div class="left">
				<h1 class="section-title text-uppercase">
					<span>{{ project.title }}</span>
					<div class="mobile client-logo">
						<img *ngIf="project.client.image" [src]="project.client.image.url" [title]="project.client.image.description" [alt]="project.client.name" />
					</div>
				</h1>
				<div class="body" [innerHTML]="trust(project.description)"></div>
			</div>
			<div class="right hide-mobile">
				<img *ngIf="project.client.image" [src]="project.client.image.url" [title]="project.client.image.description" [alt]="project.client.name" />
			</div>
		</div>
	</div>
</jp-content-overlay>