jp-balloon {
	.balloon {
		.icon-container {
			:host {
				opacity: 1;
				z-index: 9;
				background-position-y: 0px;
			}
		}
	}
}
jp-balloon:hover {
	.balloon {
		.icon-container {
			:host {
				opacity: 0;
			}
		}
	}
}

jp-balloon-callout-icon:hover {
	:host {
		opacity: 0;
	}
}

jp-icon-button {
	:host {
		@include transition(opacity 200ms linear);
		z-index: 9;
	}
	&.icon-menu-button {
		&:hover,
		&.active {
			:host {
				opacity: 0;
			}
		}
	}
}