:host {
	&:nth-child(3n) {
		margin-right: 0;
	}
}
:host /deep/ {
	position: relative;
	.card-img {
		text-align: center;
		padding: 9px;
		border: 1px solid $light_grey;
		overflow: visible;

		@include transition(border-color $transition_duration $transition_ease);
		
		img {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-height: 100%;
			max-width: 100%;
			image-rendering: pixelated;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: -moz-crisp-edges;
		}
		a {
			display: block;
			position: relative;
			height: 100%;
			line-height: 0px;
		}
		&:hover {
			border-color: $blue;
			.overlay {
				opacity: 1;
			}
		}
	}
	.card-title {
		margin-top: 15px;
		margin-bottom: 0;
		font-weight: 300;
		font-size: 14.625px;
		text-transform: uppercase;
	}
	.card-subtitle {
		margin-top: 0px;
		font-family: "source-sans-pro";
		font-size: 13px;
		font-weight: 300;
	}
	a {
		color: $almost_black;
		&:hover {
			color: $blue;
		}
	}
	.overlay {
		position: absolute;
		z-index: 2;
		top: 0px;
		left: 0px;
		width: 100%;
		line-height: 0px;
		background-position: center center;
		height: 100%;
		opacity: 0;
		@include transition(opacity $transition_duration $transition_ease);
	}
}

.theme-dark {
	:host {
		.card-img {
			border-color: $grey_900;
		}
		a {
			color: $white_trans;
		}
		&:hover {
			.card-img {
				border-color: $blue_translucent;
			}
		}
	}
}