<div class="jp-card-content" [ngSwitch]="routerLink !== null">
	<template [ngSwitchCase]="true">
		<div class="card-img">
			<a *ngSwitchCase="true" [routerLink]="routerLink" [title]="cardTitle" jpHoverDynamics>
				<div *ngIf="overlay" class="overlay" [style.background-image]="'url('+overlay+')'"></div>
				<img [src]="image" [title]="cardTitle" />
			</a>
		</div>
		<h3 class="card-title">
			<a [routerLink]="routerLink" [title]="cardTitle">{{ cardTitle }}</a>
		</h3>
	</template>
	<template ngSwitchDefault>
		<div class="card-img">
			<a [href]="href" [title]="cardTitle" jpHoverDynamics>
				<div *ngIf="overlay" class="overlay" [style.background-image]="'url('+overlay+')'"></div>
				<img [src]="image" [title]="cardTitle" />
			</a>
		</div>
		<h3 class="card-title">
			<a [href]="href" [title]="cardTitle">{{ cardTitle }}</a>
		</h3>
	</template>
	<h4 class="card-subtitle md-body-1">{{ subTitle }}</h4>
</div>