<div class="jp-card-content" [ngSwitch]="hasRoute">
	<template [ngSwitchCase]="true">
		<div class="card-img" *ngIf="!!image">
			<a *ngSwitchCase="true" [routerLink]="route" [title]="cardTitle" jpHoverDynamics [jpHoverDynamicsMobile]="jpHoverDynamicsMobile">
				<div md-ripple md-ripple-centered="true"></div>
				<div *ngIf="overlay && !hasContentOverlay" class="overlay" [style.background-image]="'url('+overlay+')'"></div>
				<div class="overlay content-overlay" *ngIf="hasContentOverlay">
					<ng-content></ng-content>
				</div>
				<img [src]="image" [title]="cardTitle" />
			</a>
		</div>
		<div class="card-img dummy" *ngIf="!image"></div>
		<div class="card-attributes" *ngIf="this.author || this.date || this.tag">
			<span *ngIf="date">{{date | amDateFormat: 'MMMM d, YYYY'}}</span>
			<span *ngIf="tag">In {{tag | capitalize}}</span>
			<span *ngIf="author">by {{author | capitalize}}</span>
		</div>
		<h3 class="card-title">
			<a [routerLink]="route" [title]="cardTitle">{{ cardTitle }}</a>
		</h3>
	</template>
	<template ngSwitchDefault>
		<div class="card-img" *ngIf="!!image">
			<a *ngIf="!hasHref" [title]="cardTitle" jpHoverDynamics [jpHoverDynamicsMobile]="jpHoverDynamicsMobile" (click)="onClick()">
				<div md-ripple md-ripple-centered="true"></div>
				<div *ngIf="overlay && !hasContentOverlay" class="overlay" [style.background-image]="'url('+overlay+')'"></div>
				<div class="overlay content-overlay" *ngIf="hasContentOverlay">
					<ng-content></ng-content>
				</div>
				<img [src]="image" [title]="cardTitle" />
			</a>
			<a *ngIf="hasHref" [href]="href" [title]="cardTitle" jpHoverDynamics [jpHoverDynamicsMobile]="jpHoverDynamicsMobile">
				<div md-ripple md-ripple-centered="true"></div>
				<div *ngIf="overlay && !hasContentOverlay" class="overlay" [style.background-image]="'url('+overlay+')'"></div>
				<div class="overlay content-overlay" *ngIf="hasContentOverlay">
					<ng-content></ng-content>
				</div>
				<img [src]="image" [title]="cardTitle" />
			</a>
		</div>
		<div class="card-img dummy" *ngIf="!image"></div>
		<div class="card-attributes" *ngIf="this.author || this.date || this.tag">
			<span *ngIf="date">{{date | amDateFormat: 'MMMM d, YYYY'}}</span>
			<span *ngIf="tag">In {{tag | capitalize}}</span>
			<span *ngIf="author">by {{author | capitalize}}</span>
		</div>
		<h3 class="card-title">
			<a *ngIf="hasHref" [href]="href" [title]="cardTitle">{{ cardTitle }}</a>
			<a *ngIf="!hasHref" (click)="onClick()">{{ cardTitle }}</a>
		</h3>
	</template>
	<h4 class="card-subtitle md-body-1" *ngIf="subTitle">{{ subTitle }}</h4>
	<div class="card-body" *ngIf="!!body || !!summary">
		<p class="summary" *ngIf="!!summary" [innerHTML]="summary | trimmed:true:280:' ...'"></p>
		<p class="body" *ngIf="!!body && !summary" [innerHTML]="body | trimmed:true:480:' ...'"></p>
	</div>
</div>