:host /deep/ {
	position: relative;
	.card-img {
		text-align: center;
		padding: 9px;
		border: 1px solid $light_grey;
		overflow: visible;

		img {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-height: 100%;
			max-width: 100%;
			image-rendering:optimizeSpeed;             /* Legal fallback */
			image-rendering:-moz-crisp-edges;          /* Firefox        */
			image-rendering:-o-crisp-edges;            /* Opera          */
			image-rendering:optimize-contrast;         /* CSS3 Proposed  */
			image-rendering:crisp-edges;               /* CSS4 Proposed  */
			image-rendering:pixelated;                 /* CSS4 Proposed  */
			image-rendering:-webkit-optimize-contrast; /* Safari         */
			-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
		}
		a {
			display: block;
			position: relative;
			height: 100%;
			line-height: 0px;
		}
		@include transition(border-color $transition_duration $transition_ease);
		&:hover {
			border-color: $blue;
			.overlay {
				opacity: 1;
			}
		}
	}
	.card-title {
		margin-top: 20px;
		margin-bottom: 6px;
		font-weight: 300;
		font-size: 18px;
		text-transform: uppercase;
	}
	.card-subtitle {
		margin-top: 0px;
		font-family: "source-sans-pro";
		font-size: 14px;
		font-weight: 300;
	}
	a {
		color: $almost_black;
		&:hover {
			color: $blue;
		}
	}
	.overlay {
		position: absolute;
		z-index: 2;
		top: 0px;
		left: 0px;
		width: 100%;
		line-height: 0px;
		background-position: center center;
		height: 100%;
		opacity: 0;
		@include transition(opacity $transition_duration $transition_ease);
	}
	.card-body {
		& > * {
			font-size: 1em;
			font-weight: 300;
			line-height: 22px;
			font-family: $source-sans-pro;
			color: $text-color;
		}
		p {
			margin-top: 0px;
		}
	}
	.card-attributes {
		margin-top: 15px;
		font-size: 11px;
		font-family: $source-sans-pro;

		span {
			&::after {
				content: "-";
				display: inline;
				margin-left: 4px;
				margin-right: 4px;
			}
			&:last-child {
				&::after {
					content: "";
					display: none;
				}
			}
		}
	}
}

.theme-dark {
	:host {
		.card-img {
			border-color: $grey_900;
			&:hover {
				border-color: $blue;
			}
		}
		a {
			color: $white_trans;
		}
	}
}

:host {
	&.theme-card /deep/ {

	}
	&.theme-post /deep/ {
		.card-title {
			position: relative;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 24px;
			a {
				color: $blue;
				&:hover {
					color: $text-color;
				}
			}
		}
	}
}

:host {
	&:nth-child(3n) {
		margin-right: 0;
	}
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		margin-top: 0;
	}
	& + .md-button {
		margin-top: 4em;
	}
	& + & + & ~ & {
		margin-top: 30px;
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host {
	    margin-bottom: 2em!important;
	}
}