<jp-content-overlay id="blog-single" layout="column" jp-infinite-scroll-container #container class="full-width">
	<!-- <div class="blog-splash" *ngIf="ready && blog.splash_image_id === null" [jpBackground]="'assets/images/blog-splash-placeholder.jpg'"></div>
	<div class="blog-splash" *ngIf="ready && blog.splash_image_id !== null" [jpBackground]="blog.splash.url" [title]="blog.splash.description"></div> -->
	<div class="layout-tworows-sidebar container" *ngIf="ready">
	    <div class="top-row">
	    	<div class="left">
          		<h1 class="section-title text-uppercase" #title>{{ blog.title }}</h1>
          		<jp-social-share class="mobile horizontal" [url]="shareUrl"></jp-social-share>
	    		<div class="blog-body" [innerHTML]="blogBodySafe"></div>
<!-- 	    		<div *ngIf="blog.author_id" class="blog-author-pane">
	    			<img *ngIf="blog.author.image_id" class="blog-author-photo" [src]="blog.author.image.url" />
	    			<div class="blog-author-inner-pane">
	    				<h3 class="pane-title text-uppercase">About The Author</h3>
	    				<p>{{ blog.author.bio }}</p>
						</div>
	    		</div> -->
	    	</div>
	    	<div class="right">
	    		<img *ngIf="blog.author_id && blog.author.image_small" class="blog-author-photo" [src]="blog.author.image_small.url" />
	    		<div *ngIf="blog.author_id" class="blog-author"><span>{{ blog.author.full_name }}</span></div>
	    		<div class="blog-created"><span>{{ blog.created_at | amDateFormat: 'MMMM d, YYYY' }}</span></div>
	    		<div class="blog-category" *ngIf="blog.divisions"><span>in {{blog.divisions[0].display_name ? blog.divisions[0].display_name : (blog.divisions[0].name | capitalize) }}</span></div>
	    		<jp-social-share [url]="shareUrl"></jp-social-share>
	    	</div>
	    </div>
	    <div class="bottom-row">
	        <h2 class="text-uppercase">Related Articles</h2>
	        <div class="content">
	            <jp-card *ngFor="let post of related"
	            	class="cell"
	            	[image]="post.image.url"
	            	[cardTitle]="post.title"
	            	[summary]="post.summary"
	            	[body]="post.body"
	            	[date]="post.created_at"
	            	[tag]="post.divisions[0].display_name ? post.divisions[0].display_name : post.divisions[0].name"
	            	[author]="post.author?.full_name"
	            	[route]="['/blogs/' + post.uri]"
	            	theme="post">
	        		</jp-card>
	        </div>
	    </div>
	</div>
</jp-content-overlay>