:host /deep/ {
	display: block;
	.blog-splash {
		min-height: 383px;
		background-position: 50% 0%;
	}
	.blog-author-pane {
		margin-top: 52px;
		display: flex;
		flex-direction: row;
		.blog-author-photo {
			margin-right: 24px;
			max-height: 118px;
			max-width: 118px;
		}
		.blog-author-inner-pane {
			display: flex;
			flex-direction: column;
			flex-basis: auto!important;
			max-width: 85%;
			.pane-title {
				margin-top: 0;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
	.blog-author {
		margin-top: 10px;
	}
	.blog-created {
		margin-top: 3px;
	}
	.blog-category {
		margin-top: 15px;
	}
	h2 {
		font-size: 28px;
		font-weight: 300;
		margin: 24px 0;
	}
	.container {
		padding-top: 0;
	}
	jp-social-share.mobile {
		display: none;
	}
	.right {
		.blog-author-photo {
			margin-top: 9px;
		}
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host /deep/ {
		.layout-tworows-sidebar {
			padding-left: 10px;
			padding-right: 10px;
			.bottom-row {
				h2 {
					margin-top: 0;
				}
			}
		}
		.blog-author-pane {
		    flex-direction: column!important;
		    text-align: center;
		    img {
		        align-self: center;
		    }
		    .blog-author-inner-pane {
		        margin-top: 24px;
		        max-width: 100%;
		        flex-basis: 100%;
		    }
		}
	}
}