@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "@angular/material/core/ripple/ripple";
@import "ie.scss";

.md-ripple-foreground {
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
}

jp-app {
  position: relative;
  display: block;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: $source-sans-pro;
  font-size: $paragraph-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  width: 100%;
  min-height: 270px;
  padding: 80px 0px;
  position: relative;
  text-align: center;
  h3 {
    font-size: 1.17em;
    margin-bottom: 1em;
  }
  p {
    font-size: $paragraph-font-size - 2px;
    letter-spacing: .020em;
    margin: 0;
    line-height: normal;
  }
  jp-social-icons {
    md-icon+span {
      display: none;
    }
  }
}

/**
 * Button
 */
button,
button[md-button],
button[md-raised-button] {
  font-family: $source-sans-pro;
  position: relative;
  .md-ripple-foreground {
    max-height: 100%;
  }
}

a[md-icon-button] {
  span.md-button-wrapper {
    line-height: 37px;
  }
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: $paragraph-font-size;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  md-icon {
      vertical-align: middle;
  }
}

.inverted-button,
[md-button].inverted-button {
  border: 1px solid $blackish;
  background: #fff;
  padding: 0 40px;
  line-height: 30px;
  height: 30px;
  @include border-radius(0);
  span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }
  &[disabled] {
    opacity: 0.2;
  }
  &:hover {
    background-color: $blackish;
    color: $white;
  }
}

.button-thick,
.button-thick.inverted-button,
[md-button].button-thick {
  max-width: 340px;
  height: auto;
  white-space: normal;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 16px;
}

@media screen and (min-width: $desktop-min-width) {
  .inverted-button,
  [md-button].inverted-button {
    @include transition(background $transition_duration linear);
    &:hover {
      background: $text-color;
      span { color: $white_trans; }
    }
    &[disabled] {
      opacity: 0.2;
      &:hover {
        background: initial!important;
      }
    }
  }
}

.md-ripple-foreground {
  max-height: 100%;
  max-width: 100%;
}

.md-placeholder-required {
  color: $red_500;
}

/**
 * Icon
 */
md-icon.small {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
}

/**
 * Layout
 */
nav {
  min-height: $nav_height;
}

.centered,
[md-button].centered {
  margin-left: auto;
  margin-right: auto;
}

.wide,
.grid-wide {
  width: 960px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1 1 auto;
}

.layout-sidebar {
  display: flex;
  flex-direction: row;
  .left {
    flex-basis: 75%;
    width: 75%;
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .right {
    flex-basis: 25%;
    flex-shrink: 0;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
  }
}

.layout-tworows-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10em 0 0;
  .top-row {
    display: flex;
    flex-direction: row;
    .left {
      width: 75%;
      flex-basis: 75%;
    }

    .right {
      width: 20%;
      flex-basis: 20%;
      text-align: right;
    }
  }
  .bottom-row {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    .content {
      flex-direction: row;
    }
  }
}

.mobile {
  display: none;
}
[md-button].mobile {
  display: none!important;
}

.icon-buttons {
  justify-content: space-between;
  width: 100%;
}

.content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  .cell {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 16px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  ul,a[md-button] {
    margin-bottom: 20px;
  }
  p + button {
    margin-top: 20px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
  }
}

.bg-cover,
section.bg-cover {
  background-size: cover!important;
}

/**
 * Styling
 */
h1,h2,h3,h4,h5 {
  font-family: $proxima-nova;
}

h3 {
  font-size: 18px;
}

p {
  font-size: $paragraph-font-size;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: $paragraph-font-size + 8px;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  @include transition(color $transition_duration $transition_ease);
  &.clear-link {
    margin-top: 24px;
    width: 100%;
    display: block;
  }
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid $blue;
  font-size: $paragraph-font-size;
  height: 40px;
  outline: none;
  padding: 8px;
}

.section-title {
  font-size: 42px;
  font-weight: 300;
  font-family: $proxima-nova;
  margin: 0 0 1em;
  max-width: 60%;

  &.text-right {
    margin-left: auto;
  }

  a {
    vertical-align: middle;
    margin-left: 8px;
    position: relative;
    top: -2px;
  }
}

section,.section-padding {
  padding: 130px 0;
}

section {
  position: relative;
}

.rss {
  md-icon {
    color: $orange;
  }
}

.text-right {
  p,
  ul,
  .section-title,
  .content button,
  .button-thick {
    margin-left: auto;
  }

  ul {
    padding-left: 37px;
    text-align: left;
    li {
      padding-left: 8px;
    }
  }
}

.light {
  font-weight: 300;
}

.theme-dark,
section.theme-dark {
  background: $blackish;
  .section-title,
  p,
  a,
  div,
  h3,
  h4 {
    color: $white_trans;
  }

  .inverted-button,
  [md-button].inverted-button {
    background: transparent;
    border-color: $white_trans;
    span {
      color: $white_trans;
    }
    &:hover {
      background: $white;
      span {
        color: $text-color;
      }
    }
    &[disabled]:hover {
      span {
        color: $white_trans;
      }
    }
  }
}

.theme-grey,
.grey-bg {
  background-color: $grey_100;
  .inverted-button {
    background-color: transparent;
  }
}



#projects
{
  jp-pager {
    margin: 0;
    ul.jp-pager {
      display: none;
    }
  }
}

#contact
{
  padding-bottom: 175px;
  .section-title {
    margin-top: 15px;
  }
}

#directions {
  position: relative;
  min-height: 146px;
  padding: 0;
  -webkit-transition: all false false,.15s false false,ease-in-out false false;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &.expanded {
    min-height: 438px;
  }
}

.card-body {
  img,ul,ol {
    display: none;
  }
}

/**
 * Forms
 */

 form.jp-form {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   .form-group {
     width: 49%;
     margin: 18px 1% 18px 0;
     flex-shrink: 0;

     &:nth-child(2n) {
       margin-right: 0;
       margin-left: 1%;
     }

     &.flush {
       margin-left: 0;
       margin-right: 0;
     }

     &.full {
       width: 100%;
     }

     &.textarea {
       position: relative;
       textarea {
         width: 100%;
         padding: 10px 20px;
         line-height: 23px;
         position: relative;
       }
     }

     md-input {
       width: 100%;
       .md-input-wrapper {
         margin: 0;
         input {
           height: auto;
           transition: border-color $transition_duration $transition_ease;
           will-change: border-color;
         }
       }
       & ~ .alert-danger {
        margin-top: 16px;
        margin-bottom: 0;
        font-size: $paragraph-font-size - 2px;
        &[hidden] { display: none; }
       }
     }
     input,.md-input-placeholder {
       font-weight: normal;
       font-family: $source-sans-pro;
     }
     .md-input-placeholder.md-focused {
       color: $blue;
     }
     input:focus {
       border-color: $blue!important;
     }
     .md-input-underline {
      .md-input-ripple {
        background-color: $blue;
      }
     }
   }
   .form-actions {
     width: 100%;
     margin-top: 2em;
   }
   label {
     transition: all $transition_duration $transition_ease;
     overflow: hidden;
   }
 }

 .error-messages {
   color: $fuchsia;
   padding-top: 1em;
 }

 .form-group.full {
   width: 100%;
   label {
     display: block;
   }
   md-input {
     width: 100%;
   }
 }

 .form-actions {
   .inverted-button[disabled] {
     span {
       color: initial!important;
     }
   }
 }

/**
 * Dialogs
 */
.modal-dialog.success {
  .modal-header {
    .close {
      font-size: 28px;
      color: #fff;
    }
  }
  .modal-content {
    background: $light-green-600;
    color: #fff;
  }
  .modal-footer {
    .btn.btn-primary {
      background: #fff;
      color: $text-color;
      border: 1px solid $light-green-800;
      width: 33%;
      border-radius: 0px;
    }
  }
}

/**
 * Content Overlay
 */
jp-content-overlay
{
  z-index: 999!important;
  background-color: #fff!important;
  section {
    padding-top: 4.188em;
  }
  md-content,[md-button] {
    background: transparent;
  }
  .md-inverted-button[md-button] {
    background: transparent!important;
  }
}

.infinite-scroll-finished {
  width: 100%;
  margin-top: 4em;
  text-align: center;
  md-icon {
    margin: 0 0 5px 0;
  }
}

body.scroll-disabled {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}


/**
 * Loading Screen
 */
jp-app:empty + #bootstrapping {
  opacity: 1;
  // z-index: 100;
}
#bootstrapping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  will-change: opacity;
  background: #fff;
  text-align: center;
  z-index: 100;
  @include transition(opacity $transition_duration $transition_ease);
  transition-delay: 1000ms;

  .uil-ripple-css,
  .uil-ring-css {
    margin: 0 auto;
  }
  &.bootstrapped {
    opacity: 0;
    z-index: -1;
  }
  p {
    margin: -52px auto 0;
    color: $text-color;
  }
}

@media \0screen {
  @include ie;
}
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  @include ie;
}
