@mixin ie {
	// IE9+ CSS
	jp-content-overlay {
		.body {
			padding-bottom: 20%;
		}
		.bottom-row {
			.content {
				padding-bottom: 10%;
			}
		}
	}

	.get-directions {
		margin-top: 33%!important;
	}
}