$h1-font-size: 32px;
$h2-font-size: 26px;
$h3-font-size: 22px;
$h4-font-size: 18px;

@media screen and (max-width: $mobile-max-width) {
    /**
     * Font sizes
     */
    body {
        font-size: $paragraph-font-size-mobile;
    }

    p,
    ul li,
    input,
    textarea {
        font-size: $paragraph-font-size-mobile;
        line-height: 24px;
    }

    form {
        input,
        textarea,
        label {
            font-size: $paragraph-font-size-mobile !important;
        }
    }

    jp-post .post-attributes {
        font-size: ($paragraph-font-size-mobile - 1px) !important;
    }

    h1 {
        font-size: $h1-font-size!important;
    }

    h2 {
        font-size: $h2-font-size!important;
        &.section-title {
            font-size: $h2-font-size + 2px!important;
        }
    }

    h3 {
        font-size: $h3-font-size!important;
        &.card-title,
        &.post-title {
            font-size: $h4-font-size!important;
        }
    }

    h4:not(.card-subtitle) {
        font-size: $h4-font-size!important;
    }

    .card-subtitle {
        font-size: $paragraph-font-size-mobile !important;
    }

    .mobile-menu-title {
        font-size: 16px !important;
    }

    footer {
        p {
            font-size: $paragraph-font-size-mobile - 2px;
            line-height: 22px;
        }
    }

    /**
     * General
     */
    .content {
        .cell {
            width: 100%;
        }
    }

    .grid, .grid-wide {
        box-sizing: border-box;
    }

    .hide-mobile {
        display: none;
    }
    [md-button].hide-mobile,
    .map-toolbar-input-container.hide-mobile {
        display: none!important;
    }

    .mobile {
        display: block;
    }
    [md-button].mobile,
    jp-social-share.mobile {
        display: block!important;
    }

    .text-right {
        p {
            margin-left: 0;
        }
    }

    .subheader {
        padding-top: 40px;
    }

    body {
        -webkit-user-select: none;
        -webkit-text-size-adjust: none;
        margin: 0;

        &.scroll-disabled {
            #wrapper {
                width: 100%;
            }
        }
    }

    img {
        max-width: 100%;
    }

    section,
    .section-padding,
    .layout-tworows-sidebar {
        padding: 4em 0;

        .top-row {
            .left, .right {
                flex-shrink: 0;
                flex-basis: 100%;
                width: 100%;
                margin: 0;
            }
        }
    }

    section {
        .container {
            &, p, h2 {
                text-align: left;
            }
        }

        .boxy-button {
            width: 100% !important;

            &:last-child {
                margin-top: 32px;
            }
        }
    }

    #wrapper {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .layout-tworows-sidebar {
        .top-row {
            //flex-direction: column;

        }

        .left, .right {
            width: 100%;
            flex: none;
            clear: none;
            display: block;
        }

        .right {
            margin: 0 !important;
        }
    }

    /**
     * Mobile Menu
     */
    jp-mobile-menu,
    jp-mobile-menu-trigger {
        display: block;
    }

    nav {
        min-height: $nav_height;

        .mobile-menu-trigger {
            margin-left: 3em;
        }

        .icon-menu {
            jp-icon-button {
                .md-button {
                    .icon-container {
                        img {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            left: 10px;
                            top: 35px;
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        & + section {
            padding-top: calc($nav_height + 3em);
        }
    }

    /**
     * Services Section
     */
    .flex-row.icon-buttons {
        // flex-direction: column;
        flex-wrap: wrap;

        jp-balloon {
            flex-basis: 50%;

            // width: 100%;
            .balloon {
                width: 110px;
                height: 110px;
                background-color: $blue !important;
                margin-left: auto !important;
                margin-right: auto !important;

                .icon-container {
                    width: 43px !important;
                    height: 43px !important;
                }

                jp-icon {
                    opacity: 1 !important;
                }

                jp-icon,
                jp-icon-hover {
                    background-image: url("../assets/images/services/sprite-2x.png")!important;
                    background-size: 188px 85px;
                }

                jp-icon-hover {
                    opacity: 0 !important;
                    background-position-y: -53px !important;
                }

                balloon-text {
                    font-size: ($paragraph-font-size-mobile + 2px) !important;
                    top: calc(100% + 12px) !important;
                    opacity: 1 !important;
                    color: $blackish !important;
                    white-space: nowrap;
                }

                &::after {
                    display: none !important;
                }
            }

            balloon-callout {
                display: none !important;
            }

            .balloon-callout-text {
                opacity: 0 !important;
                margin-bottom: 16px !important;
            }

            &.publishing {
                .balloon {
                    jp-icon,
                    jp-icon-hover {
                        background-position-x: -65px !important;
                    }
                }
            }

            &.creative {
                .balloon {
                    .icon-container {
                        width: 45px!important;
                        height: 54px!important;
                        position: relative;
                        left: -1px;
                        jp-icon,
                        jp-icon-hover {
                            background-size: 235px 107px;
                            background-position-x: -135px!important;
                        }
                    }
                }
            }

            &.interactive {
                .balloon {
                    jp-icon,
                    jp-icon-hover {
                        background-position-x: -145px !important;
                    }
                }
            }

            &.mdm {
                .balloon {
                    .icon-container {
                        width: 64px !important;
                    }

                    // jp-icon-hover {
                    //     background-position: 0px -35px!important;
                    // }

                }
            }
        }
    }

    /**
     * Splash
     */
    jp-home {
        & > jp-splash {
            //display: none !important;
            height: auto !important;
            min-height: 560px !important;

            .splash {
                .splash-inner {
                    width: calc(100% - 20px) !important;
                    justify-content: center !important;

                    h1 {
                        width: 100% !important;
                        max-width: 100% !important;
                        text-align: center;
                        margin-bottom: 21px !important;
                    }

                    p {
                        font-size: $paragraph-font-size-mobile !important;
                        width: 100% !important;
                        max-width: 100% !important;
                        text-align: center;
                    }
                }
            }

            .logo {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    /**
     * Forms
     */
    form.jp-form.ng-submitted {
        md-input-container {
            .ng-untouched + ng-messages {
                display: flex;
            }
        }
    }

    .jp-form {
        md-input-container,
        md-input-container.flex-50,
        md-input-container.flex-100 {
            &.md-input-focused,
            &.md-input-has-value {
                label {
                    font-size: $paragraph-font-size-mobile;
                    top: -20px !important;
                }
            }

            flex: 1 1 100%;
            max-width: 100%;
            margin: 0 0 1em;

            &:nth-child(2n) {
                flex: 1 1 100%;
                max-width: 100%;
                margin-left: 0;
            }

            .ng-untouched + ng-messages {
                display: none;
            }
        }
    }

    .form-actions {
        button {
            width: 100%;
        }
    }

    /**
     * Blogs
     */
    .overlay-toolbar {
        padding-left: 0 !important;
        padding-right: 0 !important;

        md-toolbar-row {
            height: auto;
        }
    }

    #filters {
        md-toolbar-row {
            flex-direction: column;
        }

        h4 {
            width: 100%;
            display: block;
            text-align: center;
        }

        .filters-buttonset {
            width: 100%;
            margin-left: 0 !important;
            min-width: 0px !important;

            jp-icon-button {
                width: auto;
                flex: 1 1 auto;
                margin: auto;

                jp-icon-button-text {
                    // margin: 0 auto;
                    font-size: $paragraph-font-size-mobile;
                }
            }
        }
    }

    /**
     * Projects
     */
    #projects {
        jp-pager {
            margin: 0;

            ul.jp-pager {
                display: flex;
            }

            .jp-pager-nav-container {
                display: none;
            }
        }
    }

    jp-project {
        .section-title {
            .client-logo {
                margin-left: auto;
            }
        }
    }

    /**
     * Blog Posts
     */
     jp-post {
        .post-title {
            margin-bottom: 16px!important;
        }
     }


    /**
     * Gallery
     */
    .jp-pager-nav-btn {
        .md-button-ripple {
            display: none!important;
        }
    }
}

@media screen and (max-width: $mobile-max-width * 0.5) {
    /**
     * Blog
     */
    jp-blog {
        .section-title {
            font-size: $h2-font-size!important;
            max-width: 85%;
        }
    }
    /**
     * Blog Filters
     */
    #filters {
        .filters-buttonset {
            flex-wrap: wrap;

            jp-icon-button {
                max-width: 50%;
                width: 50%;

                .icon-container {
                    display: none;
                }

                jp-icon-button-text {
                    margin: 0 auto;
                }
            }
        }
    }
    /**
     * Project
     */
    jp-project {
        .section-title {
            font-size: $h2-font-size!important;
            flex-direction: column!important;
            span {
                display: block;
            }
            .client-logo {
                display: block;
                margin-left: 0!important;
                margin-top: 16px;
                img {
                    max-height: 24px;
                }
            }
        }
    }

    /**
     * Gallery
     */
    jp-gallery {
        color: red;
        .gallery-spacer {
            img {
                // Add space to bottom so we can expand background-size
                padding-bottom: 25%;
            }
        }
        .gallery-item {
            background-size: 200%;
        }
    }
}