@import "bootstrap-sass/assets/stylesheets/bootstrap";

//@import "@angular/material/core/ripple/ripple";
@import "ie.scss";

.md-ripple-foreground {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

jp-app {
  position: relative;
  display: block;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: $source-sans-pro;
  font-size: $paragraph-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  width: 100%;
  min-height: 270px;
  padding: 80px 0px;
  position: relative;
  text-align: center;

  h3 {
    font-size: 1.17em;
    margin-bottom: 1em;
  }

  p {
    font-size: $paragraph-font-size - 2px;
    letter-spacing: .020em;
    margin: 0;
    line-height: normal;
  }

  jp-social-icons {
    md-icon + span {
      display: none;
    }
  }
}

/**
 * Button
 */
button,
button[mat-button],
button[md-raised-button] {
  font-family: $source-sans-pro;
  position: relative;

  .md-ripple-foreground {
    max-height: 100%;
  }
}

a[md-icon-button] {
  span.mat-button-wrapper {
    line-height: 37px;
  }
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: $paragraph-font-size;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;

  md-icon {
    vertical-align: middle;
  }
}

.inverted-button,
[mat-button].inverted-button {
  border: 1px solid $blackish;
  background: #fff;
  padding: 0 40px;
  line-height: 30px;
  height: 30px;

  @include border-radius(0);

  span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }

  &[disabled] {
    opacity: 0.2;
  }

  &:hover {
    background-color: $blackish;
    color: $white;
  }

  &.fat {
    border-color: #dfdfdf;
    padding: 5px 20px;
    height: auto;

    md-icon {
      position: relative;
      top: -2.5px;
      font-size: 21px;
    }
  }
}

.button-thick,
.button-thick.inverted-button,
[mat-button].button-thick {
  max-width: 340px;
  height: auto;
  white-space: normal;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 16px;
}

@media screen and (min-width: $desktop-min-width) {
  .inverted-button,
  [mat-button].inverted-button {
    @include transition(background $transition_duration linear);

    &:hover {
      background: $text-color;

      span {
        color: $white_trans;
      }
    }

    &[disabled] {
      opacity: 0.2;
      color: $white_trans;

      &:hover {
        background: inherit !important;
      }
    }
  }
}

.md-ripple-foreground {
  max-height: 100%;
  max-width: 100%;
}

/**
 * Icon
 */
md-icon.small {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
}

/**
 * Layout
 */
nav {
  min-height: $nav_height;
}

.centered,
[mat-button].centered {
  margin-left: auto;
  margin-right: auto;
}

.wide,
.grid-wide {
  width: 960px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1 1 auto;
}

.layout-sidebar {
  display: flex;
  flex-direction: row;

  .left {
    flex-basis: 75%;
    width: 75%;
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .right {
    flex-basis: 25%;
    flex-shrink: 0;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
  }
}

.layout-tworows-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10em 0 0;

  .top-row {
    display: flex;
    flex-direction: row;

    .left {
      width: 75%;
      flex-basis: 75%;
    }

    .right {
      width: 20%;
      flex-basis: 20%;
      text-align: right;
    }
  }

  .bottom-row {
    display: flex;
    flex-direction: column;
    margin-top: 52px;

    .content {
      flex-direction: row;
    }
  }
}

.mobile {
  display: none;
}

[mat-button].mobile {
  display: none !important;
}

.icon-buttons {
  justify-content: space-between;
  width: 100%;
}

.content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

  & > .section-title {
    max-width: 100%;
  }

  .section-title + p,
  & > p:first-child {
    margin-top: 0;
  }

  .cell {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 16px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  ul, a[mat-button] {
    margin-bottom: 20px;
  }

  p + button {
    margin-top: 20px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
  }
}

.section-title + .content {
  p:first-child {
    margin-top: 0;
  }
}

.bg-cover,
section.bg-cover {
  background-size: cover !important;
}

/**
 * Styling
 */
h1, h2, h3, h4, h5 {
  font-family: $proxima-nova;
}

h3 {
  font-size: 18px;
  &.xl {
    font-size: 38px;
    line-height: normal;
    font-weight: 300;
  }
}

p {
  font-size: $paragraph-font-size;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: $paragraph-font-size + 8px;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  @include transition(color $transition_duration $transition_ease);

  &.clear-link {
    margin-top: 24px;
    width: 100%;
    display: block;
  }
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid $blue;
  font-size: $paragraph-font-size;
  height: 40px;
  outline: none;
  padding: 8px;
}

.section-title {
  font-size: 42px;
  font-weight: 300;
  font-family: $proxima-nova;
  margin: 0 0 1em;
  max-width: 60%;

  &.text-right {
    margin-left: auto;
  }

  a {
    vertical-align: middle;
    margin-left: 8px;
    position: relative;
    top: -2px;
  }
}

.section-caption {
  margin-top: 0;
  margin-bottom: 3.1em;
}

section, .section-padding {
  padding: $section-padding 0;
}

section {
  position: relative;
}

.rss {
  md-icon {
    color: $orange;
  }
}

.text-right {
  p,
  ul,
  .section-title,
  .content button,
  .button-thick {
    margin-left: auto;
  }

  ul {
    padding-left: 37px;
    text-align: left;

    li {
      padding-left: 8px;
    }
  }
}

p.text-right {
  margin-left: auto;
}

.light {
  font-weight: 300;
}

.theme-dark,
section.theme-dark {
  background: $blackish;

  .section-title,
  p,
  a,
  div,
  h3,
  h4 {
    color: $white_trans;
  }

  .inverted-button,
  [mat-button].inverted-button {
    background: transparent;
    border-color: $white_trans;

    span {
      color: $white_trans;
    }

    &:hover {
      background: $white;

      span {
        color: $text-color;
      }
    }

    &[disabled]:hover {
      span {
        color: $white_trans;
      }
    }
  }
}

.theme-grey,
.grey-bg {
  background-color: $grey_100;

  .inverted-button {
    background-color: transparent;
  }
}

.salmon-bg {
  background-color: $salmon;

  .inverted-button {
    background-color: transparent;
  }
}

#projects {
  jp-pager {
    margin: 0;

    ul.jp-pager {
      display: none;
    }
  }
}

#contact {
  padding-bottom: 175px;

  .section-title {
    margin-top: 15px;
  }
}

#directions {
  position: relative;
  min-height: 146px;
  padding: 0;
  -webkit-transition: all false false,.15s false false,ease-in-out false false;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.expanded {
    min-height: 438px;
  }
}

.card-body {
  img, ul, ol {
    display: none;
  }
}

/**
 * Forms
 */
form.jp-form,
.jp-form {
 @include jp-form;
}

.error-messages {
  color: $fuchsia;
  padding-top: 1em;
}

/**
 * Dialogs
 */
.modal-dialog {
  &.success {
    .modal-header {
      .close {
        font-size: 28px;
        color: #fff;
      }
    }

    .modal-content {
      background: $light-green-600;
      color: #fff;
    }

    .modal-footer {
      .btn.btn-primary {
        background: #fff;
        color: $text-color;
        border: 1px solid $light-green-800;
        width: 33%;
        border-radius: 0px;
      }
    }
  }
}

.modal-lg.xl {
  border-radius: 0px;
}

@media (min-width: 768px) {
  .modal-lg.xl {
    width: 648px;
  }
}

@media (min-width: 992px) {
  .modal-lg.xl {
    width: 948px;
  }
}

/**
 * Content Overlay
 */
jp-content-overlay {
  z-index: 999 !important;
  background-color: #fff !important;

  section {
    padding-top: 4.188em;
  }

  md-content, [mat-button] {
    background: transparent;
  }

  .md-inverted-button[mat-button] {
    background: transparent !important;
  }
}

.infinite-scroll-finished {
  width: 100%;
  margin-top: 4em;
  text-align: center;

  md-icon {
    margin: 0 0 5px 0;
  }
}

body.scroll-disabled {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

/**
 * Loading Screen
 */
jp-app:empty + #bootstrapping {
  opacity: 1;

  // z-index: 100;
}

#bootstrapping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  will-change: opacity;
  background: #fff;
  text-align: center;
  z-index: 100;

  @include transition(opacity $transition_duration $transition_ease);

  transition-delay: 1000ms;

  .uil-ripple-css,
  .uil-ring-css {
    margin: 0 auto;
  }

  &.bootstrapped {
    opacity: 0;
    z-index: -1;
  }

  p {
    margin: -52px auto 0;
    color: $text-color;
  }
}

@media \0screen {
  @include ie;
}

@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
  @include ie;
}

/** Pete July 2017 Styles */
.mini_marg {margin-top:24px!important;}
.sm_marg {margin-top: 30px!important;}
.btn_marg {margin-top:45px!important;}
.med_marg {margin-top:32px!important;}
.lg_marg {margin-top: 60px!important; }
.top_pos {position:absolute; bottom:10%;}

.jp-tooltip {
  font-size: 16px;
  font-weight: 100;
  font-family: $proxima-nova;
  text-transform: uppercase;
  background: rgba(0,0,0,0.6)!important;
  margin-top: 1px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

// .jp-tooltip-interactive {
//   margin-left: -35px!important;
// }

// .jp-tooltip-mdm {
//   margin-left: 22px!important;
// }

// .jp-tooltip-creative {
//   margin-left: -8px!important;
// }

// .jp-tooltip-publishing {
//   margin-left: -27px!important;
// }