<a class="inner" [href]="href">
	<div class="icon-container" [ngSwitch]="svg.length >= 1">
        <template [ngSwitchCase]="true">
            <div class="svg" [style.-webkit-mask-image]="safeSvgBgImage" [style.-moz-mask-image]="safeSvgBgImage"></div>
        </template>
        <template ngSwitchDefault>
            <ng-content select="jp-icon"></ng-content>
            <ng-content select="jp-icon-hover"></ng-content>
        </template>
	</div>
	<ng-content select="jp-icon-button-text"></ng-content>
</a>
<ng-content select="jp-underline"></ng-content>