jp-balloon {
  .balloon {
    .icon-container {
      :host {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/images/services/sprite-2x.png");
        background-size: 523.5px 250px;
        z-index: 9;
        will-change: opacity;
        @include transition(opacity $transition_duration ease-out);
      }
    }
  }

  &.mdm {
    .balloon {
      :host {
        background-position: 0px 0px;
      }
    }
  }

  &.publishing {
    .balloon {
      .icon-container {
        :host {
          background-position: -160px 0px;
        }
      }
    }
  }

  &.creative {
    .balloon {
      .icon-container {
        position: relative;
        left: -2px;

        :host {
          background-position: -271px 0px;
        }
      }
    }
  }

  &.interactive {
    .balloon {
      .icon-container {
        :host {
          background-position: -384px 0px;
        }
      }
    }
  }
}

balloon-callout {
  jp-balloon-callout-icon {
    :host {
      background-image: url("../assets/images/balloon-callout-icons.png");
      background-position: 0px 0px;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      will-change: opacity;
      z-index: 9;

      //@include transition(opacity 200ms linear);

    }
  }
}

jp-balloon-callout-icon {
  &.content-creation {
    :host {
      background-position: 0px 0px;
    }
  }

  &.template-building {
    :host {
      background-position: -36px 0px;
    }
  }

  &.catalogs {
    :host {
      background-position: -74px 0px;
    }
  }

  &.traditional-catalogs {
    :host {
      background-position: -110px 0px;
    }
  }

  &.translations {
    :host {
      background-position: -149px -2px;
    }
  }

  &.project-management {
    :host {
      background-position: -185px 0px;
    }
  }

  &.graphic-design {
    :host {
      background-position: -222px 0px;
    }
  }

  &.branding {
    :host {
      background-position: -259px 0px;
    }
  }

  &.writing {
    :host {
      background-position: -296px 0px;
    }
  }

  &.photography {
    :host {
      background-position: -333px 0px;
    }
  }

  &.email-marketing {
    :host {
      background-position: -370px 0px;
    }
  }

  &.website-development {
    :host {
      background-position: -407px 0px;
    }
  }

  &.mobile-apps {
    :host {
      width: 25px;
      background-position: -444px 0px;
    }
  }
}

/**
 * Icon buttons in the navbar
 */
jp-icon-button {
  :host {
    background-image: url("../assets/images/division-icons-sprite-sm.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: opacity;
  }

  .icon-container {
    max-width: 24px;
    max-height: 26px;

    :host {
      background-position: 0px 0px;
    }
  }

  &.publishing {
    :host {
      height: 26px;
    }
  }

  &.creative {
    :host {
      background-position: -24px 0px;
      height: 26px;
    }
  }

  &.interactive {
    :host {
      background-position: -48px 0px;
      height: 24px;
    }
  }

  &.mdm {
    :host {
      width: 100%;
      max-width: 37px;
      background-position: -73px 0px;
    }
  }
  &.icon-menu-button {
    :host {
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
    }
  }
}