jp-balloon {
	.balloon {
		.icon-container {
			:host {
				opacity: 0;
				z-index: 8;
				background-position-y: -108px;
				@include transition(opacity ($transition_duration * 2) ease-out);
			}
		}
	}
	&.mdm {
	  .balloon {
	  	.icon-container {
	  	  :host {
	  	    background-position: 0px -108px;
	  	  }
	  	}
	  }
	}

	&.publishing {
	  .balloon {
	    .icon-container {
	      :host {
	        background-position: -160px -108px;
	      }
	    }
	  }
	}
	&.creative {
		.balloon {
			.icon-container {
				:host {
				  background-position: -271px -125px;
				}
			}
		}
	}
	&.interactive {
	  .balloon {
	    .icon-container {
	      :host {
	        background-position: -384px -108px;
	      }
	    }
	  }
	}
}

jp-balloon:hover {
	.balloon {
		.icon-container {
			:host {
				opacity: 1;
			}
		}
	}
}


jp-balloon-callout-icon {
	:host {
		opacity: 0;
	}
  &.content-creation {
    :host {
      background-position: 0px -37px;
    }
  }

  &.template-building {
    :host {
      background-position: -36px -37px;
    }
  }

  &.catalogs {
    :host {
      background-position: -74px -37px;
    }
  }

  &.traditional-catalogs {
    :host {
      background-position: -110px -37px;
    }
  }

  &.translations {
    :host {
      background-position: -149px -38px;
    }
  }

  &.project-management {
    :host {
      background-position: -185px -37px;
    }
  }

  &.graphic-design {
    :host {
      background-position: -222px -37px;
    }
  }

  &.branding {
    :host {
      background-position: -259px -37px;
    }
  }

  &.writing {
    :host {
      background-position: -296px -37px;
    }
  }

  &.photography {
    :host {
      background-position: -333px -37px;
    }
  }

  &.email-marketing {
    :host {
      background-position: -370px -37px;
    }
  }

  &.website-development {
    :host {
      background-position: -407px -37px;
    }
  }

  &.mobile-apps {
    :host {
      width: 25px;
      background-position: -444px -37px;
    }
  }
  &:hover {
		:host {
			opacity: 1;
		}
  }
}

/**
 * Icon buttons in the navbar
 */
jp-icon-button.icon-menu-button {
	&.mdm {
		:host {
			background-position: -73px -25px;
		}
	}
	&.publishing {
		:host {
			background-position: 0px -25px;
		}
	}
	// &.creative {
	// 	:host {
	//     	background-position: -26px;
	// 	}
	// }
}