jp-balloon {
	.balloon {
		.icon-container {
			:host {
				opacity: 0;
				z-index: 8;
				background-position-y: -108px;
				@include transition(($transition_duration * 10) opacity ease-out);
			}
		}
	}

	balloon-callout {
		jp-balloon-callout-icon {
			:host {
				background-position-y: -37px;
				z-index: 8;
			}
			&.translations {
				:host {
					background-position-y: -38px;
				}
			}
		}
	}
}
jp-balloon:hover {
	.balloon {
		.icon-container {
			:host {
				opacity: 1;
			}
		}
	}
}

/**
 * Icon buttons in the navbar
 */
jp-icon-button.icon-menu-button {
	:host {
		background-position-y: -25px;
	}
	&.publishing {
		:host {
			background-position-y: -26px;
		}
	}
	&.creative {
		:host {
	    	background-position-y: -26px;
		}
	}
}