jp-balloon {
	.balloon {
		.icon-container {
			:host {
				opacity: 0;
				z-index: 8;
				background-position-y: -108px;
				@include transition(opacity ($transition_duration * 2) ease-out);
			}
		}
	}
	&.mdm {
	  .balloon {
	  	.icon-container {
	  	  :host {
	  	    background-position: 0px -108px;
	  	  }
	  	}
	  }
	}

	&.publishing {
	  .balloon {
	    .icon-container {
	      :host {
	        background-position: -160px -108px;
	      }
	    }
	  }
	}
	&.creative {
		.balloon {
			.icon-container {
				:host {
				  background-position: -271px -125px;
				}
			}
		}
	}
	&.interactive {
	  .balloon {
	    .icon-container {
	      :host {
	        background-position: -384px -108px;
	      }
	    }
	  }
	}

	balloon-callout {
		jp-balloon-callout-icon {
			:host {
				background-position-y: -37px;
				z-index: 8;
			}
			&.translations {
				:host {
					background-position-y: -38px;
				}
			}
		}
	}
}
jp-balloon:hover {
	.balloon {
		.icon-container {
			:host {
				opacity: 1;
			}
		}
	}
}

/**
 * Icon buttons in the navbar
 */
jp-icon-button.icon-menu-button {
	&.mdm {
		:host {
			background-position: -73px -25px;
		}
	}
	&.publishing {
		:host {
			background-position: 0px -25px;
		}
	}
	// &.creative {
	// 	:host {
	//     	background-position: -26px;
	// 	}
	// }
}