jp-icon-button {
	:host {
		display: block;
		position: absolute;
		left: 0;
		bottom: -1px;
		background: rgba(0,0,0,.117647);
		width: 100%;
		height: 1px;
	}
	&.blue {
    :host {
    	background: $blue_translucent;
    }
	}
	&.yellow {
    :host {
    	background: $yellow_translucent;
    }
	}
	&.fuchsia {
    :host {
    	background: $fuchsia_translucent;
    }
	}
	&.mdm {
    :host {
    	background: $blackish;
    }
	}
}