:host {
  .balloon {
    width: 262px;
    height: 262px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: transparent;
    will-change: background-color;

    @include transition(background-color ($transition_duration * 2) $transition_ease);

    .balloon-text {
      position: absolute;
      top: 47%;
      z-index: 5;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      font-family: $proxima-nova;
      text-transform: uppercase;
      opacity: 0;
      will-change: opacity;

      @include transition(opacity $transition_duration $transition_ease);
    }

    .icon-container {
      width: 106px;
      height: 106px;
      margin: 0 auto;
      position: relative;
      z-index: 4;

      jp-icon,
      jp-icon-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        will-change: opacity;
      }

      jp-icon {
        @include transition(opacity $transition_duration $transition_ease);

        z-index: 9;
      }

      jp-icon-hover {
        opacity: 1;
        z-index: 8;
      }
    }

    &::after {
      position: absolute;
      bottom: -10px;
      content: " ";
      left: 48%;
      height: 0;
      width: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid $blue;
      will-change: opacity;
      opacity: 0;

      @include transition(border-color $transition_duration $transition_ease);
    }
  }

  balloon-callout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px auto 0;
    width: 55%;
    will-change: opacity;
    opacity: 0;

    .icon-container {
      width: 36px;
      height: 36px;
      position: relative;

      jp-icon,
      jp-icon-hover {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        will-change: opacity;

        @include transition(opacity $transition_duration $transition_ease);
      }

      jp-icon {
        opacity: 1;
      }

      jp-icon-hover {
        opacity: 0;
      }

      &:hover {
        jp-icon {
          opacity: 0;
        }

        jp-icon-hover {
          opacity: 1;
        }
      }
    }
  }

  .balloon-callout-text {
    width: 100%;
    text-align: center;
    margin: 18px auto 0;
    font-size: 18px;
    font-family: $proxima-nova;
    text-transform: uppercase;
  }

  &:hover,
  &.active {
    cursor: pointer;

    .balloon {
      jp-icon {
        opacity: 0;
      }

      jp-icon-hover {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }

      .balloon-text {
        opacity: 1;
      }
    }

    balloon-callout {
      opacity: 1;
    }

    border-color: $blue2;

    .balloon {
      background: $blue2;
    }
  }

  /**
   * Icons
   */
	.balloon {
		.icon-container {
			jp-icon,
			jp-icon-hover {
			  background-image: url("../assets/images/balloon-icons-mdm.png");
			}
		}
	}

  &.mdm {
    .balloon {
      .icon-container {
        width: 158px;

        jp-icon-hover {
          background-position: 0px -106px;
        }
      }
    }
  }

  &.publishing {
  	.balloon {
  		.icon-container {
  			jp-icon {
  			  background-position: -160px 0;
  			}

  			jp-icon-hover {
  			  background-position: -160px -106px;
  			}
  		}
  	}
  }

  &.creative {
  	.balloon {
  		.icon-container {
  			width: 96px; 

  			jp-icon {
  			  background-position: -266px 0;
  			}

  			jp-icon-hover {
  			  background-position: -266px -106px;
  			}
  		}
  	}
  	balloon-callout {
  		width: 75%;
  	}
  }

  &.interactive {
  	.balloon {
  		.icon-container {
  			jp-icon {
  				background-position: -362px 0px;
  			}
  			jp-icon-hover {
  				background-position: -362px -106px;
  			}
  		}
  	}
  }

  /**
   * Callout Icons
   */
  balloon-callout {
  	.icon-container {
  		jp-icon,
  		jp-icon-hover {
  			background-image: url('../assets/images/balloon-callout-icons.png');
  			background-position-y: 0px;
  		}
  		jp-icon-hover {
  			background-position-y: -37px;
  		}
  	}

  	jp-balloon-callout-icon {
  		&.content-creation {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: 0px;
  			}
  		}
  		&.template-building {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -36px;
  			}
  		}
  		&.catalogs {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -74px;
  			}
  		}

  		&.traditional-catalogs {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -110px;
  			}
  		}
  		&.translations {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -149px;
  			}
  		}
  		&.project-management {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -185px;
  			}
  		}

  		&.graphic-design {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -222px;
  			}
  		}
  		&.branding {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -259px;
  			}
  		}
  		&.writing {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -296px;
  			}
  		}
  		&.photography {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -333px;
  			}
  		}

  		&.email-marketing {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -370px;
  			}
  		}
  		&.website-development {
  			jp-icon,
  			jp-icon-hover {
  				background-position-x: -407px;
  			}
  		}
  		&.mobile-apps {
  			jp-icon,
  			jp-icon-hover {
  				width: 25px;
  				background-position-x: -444px;
  			}
  		}
  	}
  }
}