:host {
  .balloon {
    width: 262px;
    height: 262px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: transparent;
    will-change: background-color;

    @include transition(background-color ($transition_duration * 2) $transition_ease);

    .icon-container {
      width: 106px;
      height: 106px;
      margin: 0 auto;
      position: relative;
      z-index: 4;
      image-rendering: -webkit-optimize-contrast;
    }

    &::after {
      position: absolute;
      bottom: -10px;
      content: " ";
      left: 48%;
      height: 0;
      width: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid $blue;
      will-change: opacity;
      opacity: 0;

      @include transition(border-color $transition_duration $transition_ease);
    }
  }

  &:hover,
  &.active {
    .balloon {
      &::after {
        opacity: 1;
      }
    }

    border-color: $blue2;

    .balloon {
      background: $blue2;
    }
  }

  .balloon-callout-text {
    width: 100%;
    text-align: center;
    margin: 18px auto 0;
    font-size: 18px;
    font-family: $proxima-nova;
    text-transform: uppercase;
    opacity: 1;
    will-change: opacity;
    min-height: 25px;
    @include transition(opacity $transition_duration $transition_ease);
    &.invisible {
      opacity: 0;
    }
  }

  /**
   * Icons
   */
  &.mdm {
    .balloon {
      .icon-container {
        width: 158px;
      }
    }
  }

  &.creative {
  	.balloon {
  		.icon-container {
  			width: 92px;
  		}
  	}
  }
}