:host {
	.has-background {
	  background-position: 50% 0%;
	  background-size: cover;
	  //image-rendering: pixelated;
	  // image-rendering: -webkit-optimize-contrast;
	  // image-rendering: -moz-crisp-edges;
	  &.parallax {
	    background-attachment: fixed;
	  }
	}
}