  <mat-toolbar [hidden]="!mapShowing" class="map-toolbar">
    <button mat-button mat-fab class="mat-icon-button md-mini locate-me hide-mobile" title="Locate me" (click)="locateMe()">
      <mat-icon>location_on</mat-icon>
    </button>
    <label class="locate-me-label hide-mobile">Locate Me</label>
    <label class="address-label">Need Directions?</label>
    <mat-form-field class="small map-toolbar-input-container hide-mobile">
      <input matInput class="map-toolbar-input" type="text" [formControl]="directionsOrigin" placeholder="Enter your address..." size="60" />
    </mat-form-field>
    <button class="mobile centered" mat-button md-raised-button color="accent" (click)="openDirectionsExternally()" (touchend)="openDirectionsExternally()" title="Get Directions">
      <mat-icon>directions</mat-icon>&nbsp;&nbsp;Get Directions on Google Maps
    </button>
  </mat-toolbar>
  <agm-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [hidden]="!mapShowing" class="fadeIn animated">
    <jp-map-control (mapLoaded)="mapLoaded($event)"></jp-map-control>
    <div id="directionsPanel" [hidden]="!directionsShowing" #directions>
      <div class="directions-toolbar">
        <button mat-button (click)="openDirectionsExternally()" title="View on Google" class="open-in-google">
          <mat-icon>directions</mat-icon>&nbsp;&nbsp;Print and Share on Google Maps
        </button>
      </div>
    </div>
    <button mat-button mat-fab class="mat-icon-button md-mini close" id="mapClose" title="Close" (click)="closeMap()" (touchend)="closeMap()">
      <mat-icon>close</mat-icon>
    </button>
    <agm-marker [label]="'J'" [title]="title" [latitude]="latitude" [longitude]="longitude" events="vm.map.pin.events">
      <agm-info-window [isOpen]="infoWindowOpen">
        JP Enterprises<br />108 Commerce Blvd<br />Lawrence, PA 15055
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <button mat-button class="inverted-button get-directions" (click)="openMap()" [hidden]="mapShowing">
    <div matRipple matRipple-centered="true"></div>
    Get Directions
  </button>