<div class="container">
	<a href="/" title="Go Home"><img class="logo" src="assets/images/logo-colored.png" /></a>
	<span class="filler"></span>
	<div class="menu-links hide-mobile">
	  <div class="menu">
	    <a md-button [routerLink]="['/projects']" title="Projects">Projects</a>
	    <a md-button [routerLink]="['/staff']" title="Leadership">Leadership</a>
	    <a md-button [routerLink]="['/clients']" title="Clients">Clients</a>
	    <a md-button [routerLink]="['/blog']" title="Blog">Blog</a>
	    <a md-button [routerLink]="['/contact']" title="Contact">Contact</a>
	  </div>
	</div>
	<div class="icon-menu hide-mobile">
	  	<jp-icon-button class="icon-menu-button publishing blue" href="https://publishing.jpedev.com">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button creative yellow" href="https://creative.jpedev.com">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button interactive fuchsia" href="https://interactive.jpedev.com">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	</div>
	<jp-mobile-menu-trigger></jp-mobile-menu-trigger>
</div>
<md-progress-bar mode="indeterminate" [hidden]="!working"></md-progress-bar>