<div class="container">
	<a [href]="links.main" title="Go Home"><img class="logo" src="assets/images/logo-colored.png" /></a>
	<span class="filler"></span>
	<div class="menu-links hide-mobile">
	  <div class="menu">
	  	<ng-content select="a"></ng-content>
	  	<a md-button [routerLink]="['/services']" class="hide-mobile" title="Services" disableRipple="true" (click)="buttonClicked($event)">Services</a>
	    <a md-button [routerLink]="['/projects']" title="Projects" disableRipple="true" (click)="buttonClicked($event)">Projects</a>
	    <a md-button [routerLink]="['/staff']" title="Leadership" disableRipple="true" (click)="buttonClicked($event)">Leadership</a>
	    <a md-button [routerLink]="['/clients']" title="Clients" disableRipple="true" (click)="buttonClicked($event)">Clients</a>
	    <a md-button [routerLink]="['/blog']" title="Blog" disableRipple="true" (click)="buttonClicked($event)">Blog</a>
	    <a md-button [routerLink]="['/contact']" title="Contact" disableRipple="true" (click)="buttonClicked($event)">Contact</a>
	  </div>
	</div>
	<div class="icon-menu hide-mobile">
		<jp-icon-button class="icon-menu-button mdm" [href]="links.mdm">
			<jp-icon></jp-icon>
			<jp-icon-hover></jp-icon-hover>
			<jp-underline></jp-underline>
		</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button publishing blue" [href]="links.publishing">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button creative yellow" [href]="links.creative">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	  	<jp-icon-button class="icon-menu-button interactive fuchsia" [href]="links.interactive">
	  		<jp-icon></jp-icon>
	  		<jp-icon-hover></jp-icon-hover>
	  		<jp-underline></jp-underline>
	  	</jp-icon-button>
	</div>
	<jp-mobile-menu-trigger></jp-mobile-menu-trigger>
</div>
<md-progress-bar mode="indeterminate" [hidden]="!working"></md-progress-bar>