:host {
  height: $nav_height;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  box-sizing: border-box;
  border-bottom: 1px solid $grey_300;
  background-color: $white;
  will-change: transform;

  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .menu-links {
    align-self: center;
    a {
      color: $almost_black;
      font-weight: 300;
      font-size: 13px;
      text-transform: uppercase;
      font-family: $proxima-nova;
      padding: 0 6px;
      margin: 0 10px;
      position: relative;
      will-change: color;
      @include transition(color $transition_duration $transition_ease);
      &:hover {
        color: $blue_translucent;
        background-color: transparent;
        text-decoration: none;
        &::after {
          background-color: transparent;
        }
      }
      .md-ripple-foreground {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .icon-menu {
    margin-left: 40px;
  }
  &.snap-in {
    transform: translateY(-100%);
    &.snap-in-active {
      @include transition(all 150ms linear);
      transform: translateY(0%);
    }
  }
  &.snap-out {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0%);
    @include transition(all 150ms linear);
    &.snap-out-active {
      transform: translateY(-100%);
    }
  }
  &.snapped {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  md-progress-bar {
    height: 2px;
    &[hidden] {
      display: none;
    }
  }
}
@media screen and (max-width: 960px) {
  :host {
    // @include box-shadow(0px -1px 5px 0px rgba(0,0,0,0.25));
    .container {
        width: 100%!important;
    }
    md-toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
}
