:host {
	// width: 100%;
	// height: 100%;
	[hidden] {
		display: none;
	}
	.sebm-google-map-container {
	  width: 100%;
	  height: 438px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  [md-button].close {
	  	position: absolute;
	  	top: 10px;
	  	right: 10px;
	  }
	  .gm-style-iw {
	    * {
				color: $almost_black;
	    }
	  }
	  #directionsPanel {
	    position: absolute;
	    top: 60px;
	    left: 10px;
	    max-width: 25%;
	    background: $white_trans;
	    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.398039);
	    table {
	      margin: 0;
	    }
	  }
	  .sebm-google-map-container-inner {
	    height: 100%;
	    & ~ div[ng-transclude] {
	      display: block!important;
	      position: absolute;
	      top: 0px;
	      left: 115px;
	      right: 0px;
	      md-toolbar {
	        box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.398039);
	        width: auto;
	        margin-top: 10px;
	        margin-left: 0px;
	        padding: 0px;
	        min-height: 0px;
	        md-input-container {
	          margin: 0;
	          width: 100%;
	          label {
	            font-size: 13px;
	          }
	          .md-input {
	            font-size: 13px;
	            border-bottom: none;
	          }
	          .md-errors-spacer {
	            display: none;
	          }
	        }
	      }
	      .angular-google-map-marker  {
	        display: none;
	      }
	      md-button.close {
	        position: absolute;
	        top: 10px;
	        right: 15px;
	        margin: 0;
	        padding: 0;
	        width: 36px;
	        height: 36px;
	        line-height: 36px;
	        background: rgba(0,0,0,0.7);
	        span {
	          font-weight: bold;
	          color: black;
	        }
	      }
	    }
	  }
	}
	.map-toolbar {
		background-color: $blue;
		font-family: $source-sans-pro;
		position: absolute;
		top: -41px;
		left: 0px;
		height: 41px;
		min-height: 41px;
		.md-toolbar-layout,
		md-toolbar-row {
			height: 100%;
		}
		label {
			font-size: 12px;
		}
		.map-toolbar-input-container {
			margin-left: 16px;
			height: 41px;
			flex: 1;
			display: flex;
		}
		[md-button] {
			background-color: $blue;
		}
		.address-label {
			line-height: 41px;
			margin-right: 0.66em;
			vertical-align: top;
		}
		.map-toolbar-input {
			border: none;
			line-height: 28px;
			text-indent: 0.5em;
			background: transparent;
			color: #fff;
			height: 41px;
			flex: 1;
			.md-input-wrapper {
				margin: 0;
			}
			.md-input-placeholder {
				line-height: 41px;
				color: #fff;
				&.md-focused {
					color: $blue;
					transform: translateY(-82%) scale(0.75);
				}
				&.md-float:not(.md-empty) {
					color: $blue;
					transform: translateY(-82%) scale(0.75);
				}
			}
			.md-input-table {
				float: left;
			}
			.md-input-underline {
				bottom: 3px;
				border: none;
				.md-input-ripple {
					background-color: $white;
				}
			}
		}
		.locate-me {
			width: 40px;
			height: 40px;
			md-icon {
				vertical-align: middle;
				padding: 0;
			}

			& + label {
				margin: 0 0 0 16px;
				padding-right: 16px;
				border-right: 1px solid $blue_800;
				line-height: 41px;
				height: 100%;
			}
		}
	}
	.sebm-google-map-content {
		display: block!important;
		height: 100%;
		width: 100%;
	}
	.close {
		background-color: $grey_700;
		opacity: 1;
		height: 40px;
		width: 40px;
		md-icon {
			vertical-align: middle;
			padding: 0;
			font-size: 18px;
			line-height: 20px;
		}
		&:hover {
			background-color: $grey_600;
			md-icon {
				color: #fff;
			}
		}
	}
	button.open-in-google {
		width: 100%;
		background-color: $blue_500;
		md-icon {
			vertical-align: middle;
		}
		.md-ripple-foreground {
			max-height: 100%!important;
		}
	}
	.adp-text {
		padding-left: 8px!important;
	}
	img.adp-marker {
		width: 14px;
    height: 22px;
    margin: 5px;
	}
	.adp-summary,
	.adp-legal {
		padding: 8px;
		color: $text-color;
	}
	.adp-directions tr {
		line-height: 22px;
	}
}