  <md-toolbar [hidden]="!mapShowing" class="map-toolbar">
    <button md-button md-fab class="md-icon-button md-mini locate-me" title="Locate me" (click)="locateMe()">
      <md-icon>location_on</md-icon>
    </button>
    <label class="locate-me-label hide-mobile">Locate Me</label>
    <div class="small map-toolbar-input-container">
      <label class="address-label">Need Directions?</label>
      <md-input class="map-toolbar-input" type="text" [formControl]="directionsOrigin" placeholder="Enter your address..." size="60"></md-input>
    </div>
  </md-toolbar>
  <sebm-google-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [hidden]="!mapShowing" class="fadeIn animated">
    <jp-map-control (mapLoaded)="mapLoaded($event)"></jp-map-control>
    <div id="directionsPanel" [hidden]="!directionsShowing">
      <div class="directions-toolbar">
        <button md-button (click)="openDirectionsExternally()" title="View on Google" class="open-in-google">
          <md-icon>directions</md-icon>&nbsp;&nbsp;Print and Share on Google Maps
        </button>
      </div>
    </div>
    <button md-button md-fab class="md-icon-button md-mini close" id="mapClose" title="Close" (click)="closeMap()">
      <md-icon>close</md-icon>
    </button>
    <sebm-google-map-marker [label]="'J'" [title]="title" [latitude]="latitude" [longitude]="longitude" events="vm.map.pin.events">
      <sebm-google-map-info-window [isOpen]="infoWindowOpen">
        JP Enterprises<br />108 Commerce Blvd<br />Lawrence, PA 15055
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
  <button md-button class="inverted-button get-directions" (click)="openMap()" [hidden]="mapShowing">Get Directions</button>