<div class="mobile-menu-container" [hidden]="!isActive()">
	<div class="mobile-menu-inner">
		<a [href]="mainSiteUrl" title="Go to the main JP Enterprises site"><img class="logo" src="assets/images/logo-colored.png" /></a>
		<button md-icon-button class="mobile-menu-close" (click)="closeMenu()">
			<md-icon>close</md-icon>
		</button>
		<div class="menu-links">
			<h2 class="mobile-menu-title">Navigation</h2>
			<a md-button [routerLink]="['/projects']" title="Projects" (click)="closeMenu()">Projects</a>
			<a md-button [routerLink]="['/staff']" title="Leadership" (click)="closeMenu()">Leadership</a>
			<a md-button [routerLink]="['/clients']" title="Clients" (click)="closeMenu()">Clients</a>
			<a md-button [routerLink]="['/blog']" title="Blog" (click)="closeMenu()">Blog</a>
			<a md-button [routerLink]="['/contact']" title="Contact" (click)="closeMenu()">Contact</a>
		</div>
		<div class="menu-links expertise">
			<h2 class="mobile-menu-title">Expertise</h2>
			<jp-icon-button class="blue mdm colored horizontal" href="https://mdm.jpedev.com">
				<jp-icon></jp-icon>
				<jp-icon-button-text>MDM</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="blue publishing colored horizontal" href="https://publishing.jpedev.com">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Publishing</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="yellow creative colored horizontal" href="https://creative.jpedev.com">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Creative</jp-icon-button-text>
			</jp-icon-button>
			<jp-icon-button class="fuchsia interactive colored horizontal" href="https://interactive.jpedev.com">
				<jp-icon></jp-icon>
				<jp-icon-button-text>Interactive</jp-icon-button-text>
			</jp-icon-button>
		</div>
		<div layout="column" class="menu-links social-links">
			<h2 class="mobile-menu-title">Social Media</h2>
			<jp-social-icons layout="vertical"></jp-social-icons>
		</div>
	</div>
</div>