:host {
	.mobile-menu-trigger {
		margin-left: 3em;
	}
	.mobile-menu-container,
	md-toolbar .mobile-menu-container {
		&[hidden] {
			//display: none;
			visibility: hidden;
			top: 100%;
		}
		display: block;
		position: fixed;
		overflow: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		text-align: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9999;
		background-color: $white_trans;
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		padding-top: 18px;

		justify-content: center;
		align-items: flex-start;

		@include transition(all 0.33s $transition_ease);

		a,
		span.md-button-wrapper,
		jp-icon-button-text {
			text-transform: uppercase;
			color: $almost_black!important;
			font-weight: 300;
			font-size: 14px;
			text-decoration: none;
		}

		.logo {
			margin-bottom: 1em;
		}
		.mobile-menu-inner {
			padding: 0;
		    text-align: center;
		    width: 100%;
		    //max-width: 600px;
		    vertical-align: top;
		    .menu-links {
		    	text-align: left;
		    	width: 100%;
		    	[md-button] {
		    		background-color: $white_trans;
		    		text-align: left;
		    		border-bottom: 1px solid $light-grey;
		    		padding-top: 5px;
		    		padding-bottom: 5px;
		    		margin: 0;
		    		text-indent: 1.2em;
		    		width: 100%;
		    		color: $almost_black;
		    		font-weight: 300;
		    		&:last-child {
		    			border-bottom: none;
		    		}
		    	}
		    	&.expertise {
		    		display: flex;
		    		flex-direction: column;

		    		jp-icon-button {
		    			height: 46px;
		    			border: none;
		    			&.horizontal {
		    				.icon-container {
		    					order: 1;
		    				}
		    				jp-icon-button-text {
		    					order: 2;
		    				}
		    			}
		    			.inner {
		    				height: 100%;
		    				justify-content: flex-start;
		    			}
		    			text-align: left;
		    			border-bottom: 1px solid $light-grey;
		    			padding-top: 5px;
		    			padding-bottom: 5px;
		    			margin: 0 0 0 1.8em;
		    			width: auto;
		    			&:last-child {
		    				border-bottom: none;
		    			}
		    			.icon-container {
		    				width: 20px;
		    				height: 20px;
		    				float: left;
		    				margin-right: 1em;
		    				text-indent: 0;
		    				margin-left: 0;
		    			}
		    			img {
		    				width: 20px;
		    				height: 20px;
		    				position: relative;
		    				top: auto;
		    				left: auto;
		    			}

		    			&:hover {
		    				.inner {
		    					background-color: initial;
		    				}
		    				jp-icon-button-text {
		    					color: $almost_black;
		    				}
		    			}
		    		}
		    	}
		    }
		    .social-links {
		    	[md-button] {
		    		margin-left: 1.6em;
		    		padding-left: 0;
		    		.md-button-wrapper {
		    			display: block;
		    			text-indent: 0;
		    			span {
		    				position: relative;
		    				top: -6px;
		    				color: $almost_black;
		    			}
		    		}
		    		md-icon {
		    			margin-right: 1em;
		    		}
		    	}
		    }
		    .mobile-menu-title {
					padding: 0 1.12rem;
					height: 40px;
					line-height: 42px;
					background-color: $grey_200;
					font-size: 14px;
					text-transform: uppercase;
					color: #aaa;
		    }
		}

		.mobile-menu-close {
			position: absolute;
			top: 18px;
			right: 18px;
			md-icon {
				color: $grey_400!important;
			}
		}
		[md-button]:hover::after {
			left: -16px;
			max-width: 98%;
		}
		[md-button]:hover.md-primary::after, 
		[md-icon-button]:hover.md-primary::after,
		jp-icon-button:hover,
		jp-social-icons [md-button]:hover::after {
			transition: all $transition_duration $transition_ease;
			background-color: $grey_translucent;
		}
	}
}