:host /deep/ {
  height: $nav_height;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  box-sizing: border-box;
  border-bottom: 1px solid $grey_300;
  background-color: $white;
  will-change: transform;

  .navbar-logo {
    width: 134px;
    height: 49px;
    background-size: 134px 49px;
    background-image: url('../assets/images/logo-navbar-2x.png');
    position: relative;
    top: -3px;
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    width: 1170px;
  }
  .menu-links {
    align-self: center;
    flex-grow: 1;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      flex-grow: 1;
    }
    a {
      color: $almost_black;
      font-weight: 300;
      font-size: 13px;
      text-transform: uppercase;
      font-family: $proxima-nova;
      padding: 0 6px;
      //margin: 0 10px;
      margin: 0;
      min-width: 0px!important;
      position: relative;
      will-change: color;
      @include transition(color $transition_duration $transition_ease);
      outline: none!important;
      &:hover {
        color: $blue_translucent;
        background-color: transparent;
        text-decoration: none;
        &::after {
          background-color: transparent;
        }
      }
      .md-button-ripple {
        display: none!important;
      }

      &[title="Projects"],
      &[title="Work"] {
        order: 8;
      }
      &[title="Blog"] {
        order: 9;
      }
      &[title="Contact"] {
        order: 10;
      }
    }
  }
  .icon-menu {
    margin-left: 40px;
    height: 100%;
  }

  md-progress-bar {
    height: 2px;
    &[hidden] {
      display: none;
    }
  }

  jp-icon-button {
    // .svg {
    //   background-color: $blackish;
    // }
    &:hover,
    &.active {
      .svg {
        background-color: $white;
      }
    }
  }
}

:host {
  &.snap-in {
    transform: translateY(-100%);
    &.snap-in-active {
      @include transition(all 150ms linear);
      transform: translateY(0%);
    }
  }
  &.snap-out {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0%);
    @include transition(all 150ms linear);
    &.snap-out-active {
      transform: translateY(-100%);
    }
  }
  &.snapped {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: $mobile-max-width * .5) {
  .navbar-logo {
    width: 115px;
    height: 42px;
    background-size: 115px 42px;
    background-image: url('../assets/images/logo-navbar-2x.png');
  }
}

@media screen and (max-width: $container-large-desktop) {
  :host {
    // @include box-shadow(0px -1px 5px 0px rgba(0,0,0,0.25));
    .container {
        width: 100%!important;
    }
    md-toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
}