:host /deep/ {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: block;

  .splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-position: 50% 0%;
    background-size: cover;
    .splash-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      & > * {
        align-self: center;
      }
      h1 {
        font-weight: 900;
        font-size: 52px;
        margin: 0 0 20px;
      }
      .logo {
        margin-bottom: 30px;
      }

      p {
        font-family: $source-sans-pro;
        font-size: $paragraph-font-size;
        font-weight: 500;
        line-height: 24px;
        max-width: 66%;
        margin: 0;
      }
      .learn-more {
        margin: 30px 0 20px;
        font-weight: 500;
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0.14px;
      }

      .scroll-down {
        margin-top: 40px;
        background: transparent;
      }

      .splash-body {
        p {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .icon-buttons {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

:host {
  &.align-left /deep/ {
    .splash-inner {
      justify-content: flex-start;
      text-align: left;
      & > * {
        align-self: flex-start;
      }
      .splash-body {
        text-align: left;
        p {
          margin-left: 0;
        }
      }
    }
  }
}